body {
    background-color: #191919;
    font-family: 'Roboto', 'Helvetica';
    color: #ffffff;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1440px;
}

.bio > p, .portfolio > p {
    font-size: 72px;
    letter-spacing: -0.2px;
    line-height: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.footer p {
    font-size: 21px;
    letter-spacing: 0.5px;
    line-height: 0.8em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#song a, #artist a {
    font-size: 21px;
    text-decoration: none;
    letter-spacing: 0.5px;
    line-height: 0.8em;
    color: #2AA3FF;
}

a:hover {
    color: #0078d7;
}

#portfolio {
    margin-top: 60px;
}

hr {
    border: 0;
    height: 1px;
    background: #595959;
}

.footer {
    margin: 70px 0px 70px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
}

.footer-fade {
    opacity: 1;
}

.icon {
    height: 30px;
    width: 30px;
    margin-top: 10px;
    margin-right: 20px;
    display: inline-block;
    transform:scale(1);
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

#last-icon {
    margin-right: 0px;
}

.icon:hover {
    transform:scale(1.15);
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.circle:hover {
    background-color: #595959;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 500px) {
    .bio > p, .portfolio > p {
        font-size: 34px;
        letter-spacing: -0.2px;
        line-height: 1.5em;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
